/* some available fonts (undecided which to keep)
// font-family: "apertura-1","apertura-2";
// font-family: "inconsolata-1","inconsolata-2";
// font-family: "galette-1","galette-2";
*/

#whole {
  text-align: center;
  font-family: "galette-1","galette-2";
}

h1 {
  font-family: "bd-jupiter-stencil-1", "bd-jupiter-stencil-2";
}

.project, .somewhere {
  font-family: "bd-jupiter-1", "bd-jupiter-2";
}
