!!! 5
html(lang="en")
  head
    meta(charset="utf-8")

    - var entitled = "Astro 林"
    - if (locals.title)
      - entitled += ' ' + title
    - // else + route?
    title= entitled

    link(rel="icon", href="/favicon.ico")

    style
      .wf-loading { visibility: hidden }

    script(src="http://use.typekit.com/loe7yzm.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}

    link(rel="stylesheet", href="/css/style.css")

  body#whole
    center
      #header
        h1 ASTRO 林 LIN
      #torso!= body
